.entrie{
    width: 100%;
    background-color: blue;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name{
    width: 100%;
    text-align: left;
    margin-left: 8;
}
.type{
    width: 20%
}
.values{
    width: 20%
}